.search-bar {
  border-radius: 10px;
  border-color: grey;
  align-items: center;
  justify-content: center;
  outline: none;
}

.search-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}